<footer id="footer">
    <h3>チームG</h3>
    <div class="background-colors">
        <button class="colors this" id="btn1" value="#fff7f7"></button>
        <button class="colors" id="btn2" value="#ffb6b9"></button>
        <button class="colors" id="btn3" value="#fae3d9"></button>
        <button class="colors" id="btn4" value="#bbded6"></button>
        <button class="colors" id="btn5" value="#8ac6d1"></button>
    </div>
    <div><a href="https://icons8.com/icon/43227/マインド-マップ">マインド マップ icon by Icons8</a></div>
    <div>
        <a href="https://github.com/ssshooter/mind-elixir-core">
            <img src="https://raw.githubusercontent.com/ssshooter/mind-elixir-core/master/logo.png">
        </a>
    </div>
</footer>

<script type="text/javascript" src="/dist/main.js"></script>

<!-- jQueryの読み込み -->
<script type="text/javascript">
    jQuery('#footer').raindrops({
        color: '#CCFFFF',
        canvasHeight: 505,
        waveHeight: 200,
        rippleSpeed: 0.01,
        frequency: 1,
    });
</script>

</body>

</html>