<!DOCTYPE html>
<html lang="ja">

<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <% str.forEach((str)=> {%>
    <h1>
      <%= str.message %>
    </h1>
    <h2>
      <%= str.error %>
    </h2>
    <%}); %>
</body>

</html>